#temp {
    text-align: center;
    color: rgb(241, 241, 241);
    font-size: 600%;
    font-family: sans-serif;
}

.center {
    margin: auto; 
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@keyframes fadeIn {
	0%   { opacity: 0; }
	100% { opacity: 1; }
}

body {
    background-color: rgb(43, 42, 42);
}